In [1]:
import pandas as pd

In [3]:
companies_df = pd.read_json('data/snapshots/companies.json')
companies_df.head()

,id,order,field_6972522,field_6972523,field_6972582,field_6972584,field_6972588,field_6981499,field_7013582
0,132,3,X Corp,,7c1888b6-7e4b-47a8-9efa-780bd523dda9,https://x.com,"[{'id': 3, 'value': 'X', 'order': '3.000000000...",[],[]
1,133,4,Meta Platforms,,f70799dd-3deb-4767-9eb5-6e49eeff916d,https://about.meta.com,"[{'id': 4, 'value': 'Instagram', 'order': '4.0...",[],[]
2,134,5,Microsoft,,f3886d51-bb01-4db4-aa5e-53e4b74aafa6,https://www.microsoft.com,"[{'id': 5, 'value': 'LinkedIn', 'order': '5.00...",[],[]
3,135,6,Bitwarden Inc.,,f0f5fa7c-3647-4bb8-84b7-c7e501d54439,https://bitwarden.com,"[{'id': 7, 'value': 'Bitwarden', 'order': '7.0...",[],[]
4,136,7,DonorSearch,,911395b3-90c3-4f8b-bfe0-f5191a8db420,https://www.donorsearch.net,[],[],[]

In [6]:
companies_df['field_6972588'][0]

[{'id': 3, 'value': 'X', 'order': '3.00000000000000000000'}]

In [8]:
libraries_df = pd.read_json('data/snapshots/libraries.json')
libraries_df.head()

,id,order,field_6972530,field_6972531,field_6972836,field_6972837,field_6972839,field_6981408,field_7001781,field_7014493,field_7014495,field_7014533,field_7025280
0,1,1,Export as CSV,Exports data as .csv file -some tools also giv...,2026-01-28T20:47:19.072619Z,[],[],[],[],353ac2f7-0d04-4659-b522-35ad6cc0a344,[],[],"[{'id': 133, 'value': 'Export Options', 'order..."
1,2,2,Export as Word,Exports data as Word file - somewhat more rare...,2026-01-28T20:47:25.269964Z,[],[],[],[],eac9324f-b73a-4c40-940d-78b4a9bda8d6,[],[],"[{'id': 133, 'value': 'Export Options', 'order..."
2,34,3,Export as PDF,"Exports data as PDF, fairly common option, but...",2026-01-28T20:47:25.710858Z,[],[],[],"[{'id': 34, 'value': 'Kindsight', 'order': '34...",ec6ce0f6-d593-441d-92f5-e4878a47dfec,[],[],"[{'id': 133, 'value': 'Export Options', 'order..."
3,35,4,Export as Excel,"Exports data as .xlsx, sometimes with addition...",2026-01-28T20:47:26.143919Z,[],[],[],[],12ed96ca-ce75-41f7-a579-ba3add82c92c,[],[],"[{'id': 133, 'value': 'Export Options', 'order..."
4,36,5,Import CSV,Platform allows a specialized query where the ...,2026-01-27T18:36:27.619399Z,[],[],[],[],ed7c43d1-f570-4d89-9ae0-681ebf002389,[],[],[]

In [10]:
tools_df = pd.read_json('data/snapshots/tools.json')
tools_df.head()

,id,order,field_6972526,field_6972527,field_6972586,field_6972587,field_6972713,field_6972724,field_6972725,field_6972726,field_6972727,field_6972821,field_7001780,field_7001840,field_7002513,field_7002514,field_7002515,field_7014254
0,3,3.0,X,,0.0,"[{'id': 132, 'value': 'X Corp', 'order': '3.00...","[{'id': 5122298, 'value': 'Social Media', 'col...",NaN,,2026-01-27T11:44:43.636443Z,5ada842e-a40f-48dc-8bb3-f5614ec084ba,[],[],[],,[],[],[]
1,4,4.0,Instagram,,0.0,"[{'id': 133, 'value': 'Meta Platforms', 'order...","[{'id': 5122298, 'value': 'Social Media', 'col...",NaN,,2026-01-27T11:44:44.275329Z,5071de5b-900c-4937-b8aa-4e999e0ec628,[],[],[],,[],[],[]
2,5,5.0,LinkedIn,,0.0,"[{'id': 134, 'value': 'Microsoft', 'order': '5...","[{'id': 5122298, 'value': 'Social Media', 'col...",NaN,,2026-01-27T11:44:44.779554Z,f0bbf170-2393-4ffa-99aa-6cbf4a7a79e8,[],[],[],,[],[],[]
3,6,6.0,Facebook,,0.0,"[{'id': 133, 'value': 'Meta Platforms', 'order...","[{'id': 5122298, 'value': 'Social Media', 'col...",NaN,,2026-01-27T11:44:45.277499Z,3bcc7522-d0fb-4249-9b24-91004082806a,[],[],[],,[],[],[]
4,7,7.0,Bitwarden,,0.0,"[{'id': 135, 'value': 'Bitwarden Inc.', 'order...",[],0.0,,2026-01-27T11:44:45.963823Z,4f6512a2-0f98-4132-a79f-ebd82c55e4c2,[],[],[],,[],[],[]

In [11]:
tools_df['field_6972587'][0]

[{'id': 132, 'value': 'X Corp', 'order': '3.00000000000000000000'}]

In [12]:
tools_df['field_6972713'][0]

[{'id': 5122298, 'value': 'Social Media', 'color': 'light-green'}]